@font-face {
    font-family: 'Figtree';
    src: url('./Figtree-SemiBold.eot');
    src: url('./Figtree-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./Figtree-SemiBold.woff2') format('woff2'),
        url('./Figtree-SemiBold.woff') format('woff'),
        url('./Figtree-SemiBold.ttf') format('truetype'),
        url('./Figtree-SemiBold.svg#Figtree-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('./Figtree-Medium.eot');
    src: url('./Figtree-Medium.eot?#iefix') format('embedded-opentype'),
        url('./Figtree-Medium.woff2') format('woff2'),
        url('./Figtree-Medium.woff') format('woff'),
        url('./Figtree-Medium.ttf') format('truetype'),
        url('./Figtree-Medium.svg#Figtree-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('./Figtree-Regular.eot');
    src: url('./Figtree-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Figtree-Regular.woff2') format('woff2'),
        url('./Figtree-Regular.woff') format('woff'),
        url('./Figtree-Regular.ttf') format('truetype'),
        url('./Figtree-Regular.svg#Figtree-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('./Figtree-Bold.eot');
    src: url('./Figtree-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Figtree-Bold.woff2') format('woff2'),
        url('./Figtree-Bold.woff') format('woff'),
        url('./Figtree-Bold.ttf') format('truetype'),
        url('./Figtree-Bold.svg#Figtree-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./PlayfairDisplay-SemiBold.eot');
    src: url('./PlayfairDisplay-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./PlayfairDisplay-SemiBold.woff2') format('woff2'),
        url('./PlayfairDisplay-SemiBold.woff') format('woff'),
        url('./PlayfairDisplay-SemiBold.ttf') format('truetype'),
        url('./PlayfairDisplay-SemiBold.svg#PlayfairDisplay-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./PlayfairDisplay-Bold.eot');
    src: url('./PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('./PlayfairDisplay-Bold.woff2') format('woff2'),
        url('./PlayfairDisplay-Bold.woff') format('woff'),
        url('./PlayfairDisplay-Bold.ttf') format('truetype'),
        url('./PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./PlayfairDisplay-Medium.eot');
    src: url('./PlayfairDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('./PlayfairDisplay-Medium.woff2') format('woff2'),
        url('./PlayfairDisplay-Medium.woff') format('woff'),
        url('./PlayfairDisplay-Medium.ttf') format('truetype'),
        url('./PlayfairDisplay-Medium.svg#PlayfairDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./PlayfairDisplay-Regular.eot');
    src: url('./PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('./PlayfairDisplay-Regular.woff2') format('woff2'),
        url('./PlayfairDisplay-Regular.woff') format('woff'),
        url('./PlayfairDisplay-Regular.ttf') format('truetype'),
        url('./PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}